body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

h1 {
    color: #2c3e50;
}

p {
    color: #555;
}
